page-details {
    ion-content{
        background-image: url('../../assets/imgs/Beautiful\ Night\ Sky\ Wallapers\ \(20\).jpg');
        background-size: cover;
        background-position: center;
        text-align: center;
  
    }   
}
